.Home {
  text-align: center;
}

.Home-header {
  background: linear-gradient(180deg, rgba(227, 233, 245, 0.779076) 0%, #C4D3E5 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  place-items: center
}

.applicationContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;

}

.homeLayoutLeft {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 40%;
  margin-right: 10px;

  .menuLeft {
    width: 300px;
    height: 90%;
  }
}

.homeLayoutMain {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  height: 100%;

  .topBar {
    position: fixed;
    margin-top: 53px;
    width: 500px;
    height: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .contents {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    height: 100%;
    padding-top: 130px;
    width: 500px;

    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */


    .uploadContent {
      min-height: 200px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .viewContents {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 500px;
      padding-top: 10px;
      padding-bottom: 10px;
      gap: 20px;
      overflow: visible;
    }
  }

  .contents::-webkit-scrollbar {
    display: none;
  }
}

.card-wrapper {
  background: #EBF2F9;
  height: min-content;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}